.myapp {
  height: 100%;
  width: 100%;
  display: flex;
}
.title {
  padding-top: 8px; 
  width: 100%;
}
.title .text {
  width: 50%;
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  color: #000000;
  margin: auto;
  height: 60px;
}
.title .bottom {
  margin-top: 8px;
  border-top: 1px solid #fff;
  box-shadow: 0 -1px 0 0 #d2d2d3;
  width: 100%;
  background-color: #f5f5f7;
}



.tile {
  width: 100%;  /* Or whatever */
  margin: auto;  /* Magic! */
  position: fixed;
  top: 140px;
  height: -webkit-calc(100% - 140px);
  height:    -moz-calc(100% - 140px);
  height:         calc(100% - 140px);
}
swiper {
  width: 100%; 
  height: 100%;
}

.horn-item {
  margin: auto;  /* Magic! */
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
  border-radius: 125px;
  /* background-color: #d2d2d3; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.horn-item:active {
  /* border-radius: 5px; */
  box-shadow: inset 0 5px 10px rgba(0, 0, 0,.5);
}
.svg-icon {
  width: 90%;
  height: 90%;
  margin: auto; 
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: -webkit-calc(100% - 120px);
  width:    -moz-calc(100% - 120px);
  width:         calc(100% - 120px);
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.horn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-shadow: 0 5px 10px rgba(0, 0, 0,.25);
  width: 100%;
  height: 100%;
}
.title-text {
  display: inline-block;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  text-shadow: 0 1px 0 white;
  /*vertical-align: middle;*/
  line-height: 50px;       /* the same as your div height */
  /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.menu {
  padding-right: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0,.25);
  width: 100%;
  height: 100%;
}

.menu .right {
  text-align: right;
  display: inline-block;
  width: 100%;
  color: black;
  text-align: right;
  font-size: 1.2em;
  font-weight: 700;
  text-shadow: 0 1px 0 white;
  /*vertical-align: middle;*/
  line-height: 50px;       /* the same as your div height */
  /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/* Make colored bg with white text */
.menu .text {
  display: inline-block;
  text-align: left;
  /* color: black; */
  font-size: 1em;
  font-weight: 500;
  color: #5b5b65;
  text-shadow: 0 1px 0 #fff;
  /* This dictates the margin above and below the h3 tag, default is 1em and 0 for left/right */
  -webkit-margin-before: .2em;
  -webkit-margin-after: .2em;
  padding-left: 5px;
  padding-right: 5px;
}
.menu .accent-text {
  color: #3fb1eb;
}