<!-- Add the Wickey Appstore to top of the bootstrapped component -->
<wickey-appstore></wickey-appstore>

<!--Now your app. Thats it.-->
<div class="myapp">
  <header>
    <mat-toolbar role="header" class="my-title-bar" color="accent">
      <span class="my-header-sidebar"></span>
      <span class="my-header-text">{{title}}</span>
      <span class="my-header-sidebar"></span>
    </mat-toolbar>
  </header>
  <mat-tab-group selectedIndex=1 class="apptab">
    <!-- Menu -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>menu</mat-icon>
      </ng-template>
      <div class="my-title-text">AirHorn Menu (v{{version}})</div>
      <mat-card class="my-profile-card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon color="primary" style="font-size:40px;">person_pin</mat-icon>
          </div>
          <mat-card-title>{{displayMessage | async}}</mat-card-title>
          <mat-card-subtitle *ngIf="(userService.user | async) as _usr">{{_usr.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>New in version {{version}}</p>
          <p>{{whatsNew}}</p>
          <mat-divider></mat-divider>
          <mat-chip-list>
            <mat-chip style="margin-top:25px;" color="accent" selected="true">You have honked: {{hornPresses}} times!</mat-chip>
            <mat-chip style="margin-left: 10px; margin-top:25px;" color="primary" selected (click)="supportPopUp()">
              <mat-icon>email</mat-icon>Contact Us
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- Main Horn -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>volume_up</mat-icon>
      </ng-template>
      <mat-card class="my-panel-container">
        <mat-card-content>
          <button color="accent" class="horn-button fab-button-resizer" mat-fab (click)="playHorn(1)">
            <mat-icon class="fab-button-resizer" aria-label="airhorn">volume_up</mat-icon>
          </button>
          <h3 style="text-align:center;width:100%;">Classic Air Horn</h3>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <!-- Locked Horn -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon *ngIf="(userService.checkIfPurchased(trombonePurchaseId) | async); else lockedIcon">sentiment_very_dissatisfied</mat-icon>
        <ng-template #lockedIcon>
          <mat-icon>lock</mat-icon>
        </ng-template>
      </ng-template>
      <mat-card class="my-panel-container">
        <mat-card-content>
          <button color="warn" class="horn-button fab-button-resizer" mat-fab (click)="playHorn(2)">
            <mat-icon class="fab-button-resizer" aria-label="trombone" *ngIf="(userService.checkIfPurchased(trombonePurchaseId) | async); else lockedBlock">sentiment_very_dissatisfied</mat-icon>
            <ng-template #lockedBlock>
              <mat-icon class="fab-button-resizer" aria-label="locked">lock_outline</mat-icon>
            </ng-template>
          </button>
          <h3 style="text-align:center;width:100%;">Sad Trombone</h3>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
