<!--The content below is only a placeholder and can be replaced.-->
<div class="titlebar">
  <h3 class="titletext">{{title}}</h3>
  <div class="titlebottom"></div>
  <!-- <div class="d-flex justify-content-center" style="width: 100%">
    <ui-popover-account-info [isModal]="true" [user]="user" (signout)="logoutUser($event)"></ui-popover-account-info>
    <ui-popover-login [user]="user" (close)="closeOnboardScreen($event)"></ui-popover-login>
  </div> -->
  <div class="d-flex justify-content-around" style="width:100%">
    <was-popover-login [user]="user" (close)="closeLoginScreen($event)"></was-popover-login>
    <was-popover-account-info [isModal]="true" [user]="user" (signout)="logoutUser($event)"></was-popover-account-info>
  </div>
  <wickey-appstore (close)="onWASClose($event)"></wickey-appstore>
</div>
<div class="content-group">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="user_id">user_id</label>
      <input *ngIf="user" type="text" class="form-control" id="user_id" readonly
             [(ngModel)]="user.user_id" name="user_id"
             #userIdInput="ngModel">
    </div>
    <div class="form-group">
      <label for="coins">coins</label>
      <input *ngIf="user" type="number" class="form-control" id="coins"
             [(ngModel)]="user.coins" name="coins"
             #coinsInput="ngModel">
    </div>
    <div class="form-group">
      <label for="app_data">any string data (e.g. JSON)</label>
      <input *ngIf="user" type="text" class="form-control" id="app_data"
             [(ngModel)]="user.data" name="app_data"
             #dataInput="ngModel">
    </div>
    <button type="submit" class="btn btn-info" [disabled]="!userForm.form.valid">Save</button>
  </form>
  <br>
  <!-- <button class="btn btn-primary" (click)="loadUser(true)" alt="Get User">Get User</button>
  <button class="btn btn-primary" (click)="testAlertBox()" alt="Test Alert">Test Alert</button> -->

</div>

<a class="btn was-npm-btn" target="WAS_npm" href="https://www.npmjs.com/package/wickeyappstore">NPM</a>
<was-alert-popup [alert_table]="error_message" (close)="onAlertClose($event)"></was-alert-popup>
