li {
  font-size: .7em;
}
wickey-appstore {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: inline-block;
}
.was-npm-btn {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  height: 40px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* border: 1px solid gray; */
  background-color: #29B6F6;
}

was-popover-account-info {
  position: relative;
  display: inline-block;
  color: #888;
}
was-popover-login {
  position: relative;
  display: inline-block;
  color: #888;
}
